<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Menus</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Menus.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Menus</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @if (ViewData["Title"] == "Home")
                            {
                                <b><a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                        asp-action="Index">Home</a></b>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (ViewData["Title"] == "Photos")
                            {
                                <b><a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                        asp-action="Photos">Photos</a></b>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                    asp-action="Photos">Photos</a>
                            }
                        </li>
                        <li class="nav-item"></li>
                        @if (ViewData["Title"] == "Contact")
                        {
                            <b><a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                    asp-action="Contact">Contact</a></b>
                        }
                        else
                        {
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        }
                        </li>
                        <li class="nav-item"></li>
                        @if (ViewData["Title"] == "Privacy")
                        {
                            <b><a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                    asp-action="Privacy">Privacy</a></b>
                        }
                        else
                        {
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        }
                        </li>
                        <li class="nav-item"></li>
                        @if (ViewData["Title"] == "Login")
                        {
                            <b>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                   asp-action="LogIn">LogIn</a>
                            </b>
                        }
                        else
                        {
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">LogIn</a>
                        }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container"></div>
        &copy; Esta es la actividad de esta semana y aprendi a utilizar los es tilos de bootstrap y a crear un layout
        para la pagina web utlizando bloques if else. - Menus - <a asp-area="" asp-controller="Home"
            asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
